 .signin body{
    background-color: #294664;
    text-align:center;
  }

  #emailField form{
    font-size:15px;
    border-color:gray;
    border-radius: 15px 15px 15px 15px;
    border-style:outset;
    box-shadow: inset 0 -1px 0 0 navy, inset 0 1px 0 0 navy, 0 1px 0 0 navy, 0 -1px 0 0 navy;
    margin-bottom: 1px;
    background: silver;
    
    display:inline-block;
  }

  #reviewDiv {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-bottom: 5vh;
    width: 65vw;
    height: 72vh;
    border-color:gray;
    border-radius: 15px;
    border-style:outset;
    margin: auto;
    margin-top: 12vh;
    background: silver;
    text-align: center;
    background-image: linear-gradient(#f4f4f4,#cccccc);
    box-shadow: 0px 16px 16px #00305e;
    color:#00305e;
  }

  input[type="text"]{
    width:40%;
    font-size:14px;
  }

#Other{
    width:20%;
  }

  input[type="submit"]{
    font-size:15px;
    border-radius:25%;
  }