

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(#f4f4f4,#cccccc);
  min-height: 50px;
  height: 8vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 100;
}

.App-header .nav {
  position: inherit;
  align-content: center;
  height: inherit;
  display: flex;
  background-image: inherit;
}

  .nav #logo {
    margin-left: calc(40px + 2vmin);
    height: 8vh;
  }

  .nav #searchBar {
    padding-top: 0;
    margin-top: 0;
    margin-left: calc(20px + 2vmin);
    padding-left: 5px;
    border: none;
    height: inherit;
    min-width: 24vmax;
    max-width: 28vmax;
    width: calc(20px + 2vmin);
    background-image: inherit;
    color: white;
    font-size: calc(2px + 2vmin);
  }

  #searchBar::placeholder {
      color: #00305e;
      opacity: .6;
    }

  #searchBar:hover {
    background-image: none;
    background-color: #798086;
  }

  #searchBar:hover::placeholder {
    color: white;
  }

  #searchBar:focus {
    background-image: none;
    background-color: #798086;
    outline: none;
  }

  #searchBar:focus::placeholder {
    color: white;
  }

  .App-header .login-container {
    margin-left: auto;
    margin-right: 3%;
    margin-bottom: 10%;
    z-index: 101;
  }

  .App-header input[type=text] {
    float: right;
    margin: auto;
    margin-left: 1%;
    border: none;
    height: 50%;
    padding-left: 10px;
  }

    .App-header input[type=password] {
    float: right;
    margin: auto;
    margin-left: 1%;
    border: none;
    height: 50%;
    padding-left: 10px;
  }


  .App-header .login-container button {
    float: right;
    padding-left: 10px;
    margin-left: 16px;
    background: #ddd;
    height: 50%;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .App-header .login-container button:hover {
    background: #ccc;
  }

#banner {
  margin-top: 8vh;
  height: 180px;
  min-height: 180px;
  width: 100%;
}

.Secondary-nav {
  background-image: inherit;
  border-color: #e9eaeb;
  float: right;
  margin-right: 0
  margin-left: auto;
  padding-left: 20px;
  width: 25vw;
  height: 8vh;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

  .Secondary-nav a {
    color: #00305e;
    width: 50%;
    height: 100%;
    padding-top: 2vh;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    overflow: hidden;
  }

  .Secondary-nav a:hover {
    background-image: none;
    background-color: #798086;
    color: white;
    overflow: hidden;
  }

  .Secondary-nav a.active {
    background-color: #2196F3;
    color: white;
  }

  #active{
  	background-color:#798086;
  }