html ,body {
  margin: 0;
  padding: 0;
  background-color: #294664;
}
h1{
	color:silver;
	display:inline-block;
}

p {
	margin: 0;
}

#active{
  	background-color:#798086;
  }


#holder{
	position: relative;
	color:silver;
	width:65%;
	height:100%;
	margin-left: 15vw;
	background-color:#192b3f;
	border-radius:20px 20px 20px 20px;
	border-right-color: #34587f;
	border-bottom-color: #34587f;
	border-top-color: #162636;
	border-left-color: #162636;
	border-style:inset;
	box-shadow: inset 0px 0px 20px #162636;
	align-items: flex-start;
	overflow-y: scroll;
	overflow-x: hidden;
}

#filter {
	width: 16%;
	height: 58%;
	border-color:gray;
	border-radius: 15px;
	border-style:outset;
	margin-bottom: 1px;
	background: silver;
	position: absolute;
	text-align: center;
	background-image: linear-gradient(#f4f4f4,#cccccc);
	box-shadow: 0px 16px 16px #00305e;
	color:#00305e;
}

#filter select {
	width: 50%;
	height: 22px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	background: silver;
	border-radius: 5px;
	box-shadow: 0px 1px 1px #8c8c8c;
	color: grey;
}

#submit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #00305e;
}

#FilterDiv {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
  	padding-top: 10vh;
  	padding-bottom: 5vh;
  	margin: auto;
  	height: 80vh;
  	width: 85vw;
  	font-size: calc(10px + 1vmin);
}

#review {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(#f4f4f4,#bfbfbf);
	position: relative;
	padding-top: 0;
	margin-top: -1vh;
	min-height: 30vh;
	width: 100%;
	border-radius: 10px;
	border: none;
}

#review p {
	padding-left: 65px;
	font-size: 16px;
	color: #00305e;
	text-align: left;
}

#review #title{
	color: #00305e;
	position: relative;
	padding-left: 65px;
	padding-right: 65px;
	text-align: left;
	font-weight: normal;
	font-size: 14px;
	padding-top: 5px;
}

#review a{
	font-weight: bold;
}

#review img{
	float: left;
	position: relative;
	padding-top: 8px;
	padding-left: 20px;
}

#review input {
	margin-right: 20px;
	width: 40px;
	height: 40px;
	color: white;
	background: #ad0b00;
	border-radius: 5px;
	border-color: #840700;
	border-style: inset;
	outline: none;
}

#review input:hover {
	background: #ffada8;
	border-style: outset;
}

#review input:active {
	background: #560000;
	border-style: outset;
}

#AdminButton {
	position: absolute;
	bottom: 8px;
	right: 0;
	float: right;
}

#starDiv { 
	float: right;
 }

#starDiv #star {
	float: right;
	padding-left: 1px;
	padding-right: 1px;
}

::-webkit-scrollbar {
  width: 20px;
  height: 80%;
  opacity: .2;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #162636; 
  border-radius: 4px;
}

#approval{
	color:silver;
	width:85%;
	height:100%;
	margin-left: 14vw;
	background-color:#1e3248;
	border-radius:20px 20px 20px 20px;
	border-right-color: #34587f;
	border-bottom-color: #34587f;
	border-top-color: #162636;
	border-left-color: #162636;
	border-style:inset;
	box-shadow: inset 0px 0px 20px #162636;
	overflow: hidden;
}

