#active{
  	background-color:#798086;
  }


#holder{
	width:65%;
	height:750px;
	float:right;
	margin-right:100px;
	background-color:silver;
	border-radius:20px 20px 20px 20px;
	border-style:inset;
	padding-left:55;
}

select, label{
	display:block;
}
select{
	width:110px;
	font-size:15px;
	background:lightgrey;
}

#filter{
	width:15%;
	font-size:15px;
	border-color:gray;
	border-radius: 15px 15px 15px 15px;
	border-style:outset;
	box-shadow: inset 0 -1px 0 0 navy, inset 0 1px 0 0 navy, 0 1px 0 0 navy, 0 -1px 0 0 navy;
	margin-bottom: 1px;
	background: silver;
	padding-left:35px;
}

form{
	display:inline-block;
}

body{
	background-color:#294664;
}
h1{
	color:silver;
}
