html ,body {
  margin: 0;
  padding: 0;
  background-color: #294664;
}

#active{
  	background-color:#798086;
  }


#holder{
	color:silver;
	width:85%;
	height:100%;
	margin-left: 14vw;
	background-color:#1e3248;
	border-radius:20px 20px 20px 20px;
	border-right-color: #34587f;
	border-bottom-color: #34587f;
	border-top-color: #162636;
	border-left-color: #162636;
	border-style:inset;
	box-shadow: inset 0px 0px 20px #162636;
	overflow: hidden;
}

#filter {
	width: 20%;
	height: 65%;
	border-color:gray;
	border-radius: 15px;
	border-style:outset;
	margin-bottom: 1px;
	background: silver;
	position: absolute;
	text-align: center;
	background-image: linear-gradient(#f4f4f4,#cccccc);
	box-shadow: 0px 16px 16px #00305e;
	color:#00305e;
}

#filter select {
	width: 50%;
	height: 22px;
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
	background: silver;
	border-radius: 5px;
	box-shadow: 0px 1px 1px #8c8c8c;
	color: grey;
}

#submit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #00305e;
}

#FilterDiv {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
  	padding-top: 10vh;
  	padding-bottom: 5vh;
  	margin: auto;
  	height: 70vh;
  	width: 65vw;
  	font-size: calc(10px + 1vmin);
}
